body {
    color: #dad6d6;
    background: #171a21;
    text-align: center;
}

#start {
    margin: 40px auto;
    text-align: center;
    color: #dad6d6;
    background: #48633b;
    border:solid 2px #35492c;
    border-radius: 5px;
    padding: 16px 40px 16px;
    letter-spacing: 2px;
    cursor:pointer;
}

#stop {
    margin: 40px auto;
    text-align: center;
    color:#dad6d6;
    background: #721329;
    border:solid 2px #590f20;
    border-radius: 5px;
    padding: 16px 40px 16px;
    letter-spacing: 2px;
    cursor:pointer; }

 #clear {
margin: 40px auto;
text-align: center;
color:#dad6d6;
background:#564e58;
border:solid 2px #3e383f;
border-radius: 5px;
padding: 16px 40px 16px;
letter-spacing: 2px;
cursor: pointer;

 }

 h2
{
  font-size: 46px;
  letter-spacing: 2px;
  margin: 200px 0 0 ;
}

